.navBarList{
    list-style: none;
}
.navBarLink{
    text-decoration: none;
    color: inherit;
}


@media(min-width:650px){
    .navBarList{
        display: flex;
        gap: 1rem;
        margin-top: 0;
    }
}